.item { 
  margin-bottom: 20px;
}

.item h3 { 
  margin-top: 0;
  margin-bottom: 10px;
}

.item .feed_name {
  font-size: 12px;
  color: gray;
}

.item .feed_name a {
  color: gray;
  text-decoration: none;
}

.item .feed_name a:hover {
  text-decoration: underline;
}
