h1 { 
  margin-bottom: 2px;
}

.about {
  margin: 0 0 10px 0;
  padding: 0;
}

.instructions {
  margin: 0 0 40px 0;
  font-style: italic;
}

.about li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}

.about a {
  color: gray;
}

#disconnected { 
  color: red;
}

.item { 
  margin-bottom: 20px;
}

.item h3 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 2px;
}

.item .feed_name {
  font-size: 12px;
  color: gray;
}

.item .feed_name a {
  color: gray;
  text-decoration: none;
}

.item .feed_name a:hover {
  text-decoration: underline;
}
